

<form action="/payment/results">
  <div>
    <label for="user_apr">
      APR
    </label>

    <input id="user_apr" type="text" placeholder="E.g. 5.42" name="apr">
  </div>

  <div>
    <label for="user_years">
      Number of years
    </label>

    <input id="user_years" type="text" placeholder="How many years to repay?" name="num_years">
  </div>

    <div>
    <label for="user_principal">
      Principal
    </label>

    <input id="user_principal" type="text" placeholder="How much principal?" name="principal">
  </div>

  <button>
    Calculate monthly payment
  </button>
</form>
