Howdy

<form>
  <label for="user_num">Enter a number </label>
  <input id="user_num" type="text" placeholder="What number do you want to square?" name="number">
  <button>Calculate square</button>
</form>
