

<form action="/square/results">
  <div>
    <label for="user_num">
      Enter a number 
    </label>
  </div>

  <div>
    <input id="user_num" type="text" placeholder="What number do you want to square?" name="number">
  </div>

  <button>Calculate square</button>
</form>
